__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.env/
.env*/
.venv/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
*.log
*.tmp
*.swp
*.bak
.cache/
.cache/**
**/__pycache__/
*.pickle
*.pkl
.DS_Store
Thumbs.db